PROJECT_ID=xxx
DATASET_ID=xxx
# https://cube.dev/docs/reference/configuration/environment-variables#cubejs_db_export_bucket
EXPORT_BUCKET=xxx
GOOGLE_CREDS=./bigquerycreds.json
TENDERMINT_RPC_URL=https://main.rpc.agoric.net
